{% import '_utils/padding.twig' as paddingUtils %}
{% set topValue = paddingTop ?? block.paddingTop ?? 'normal' %}
{% set bottomValue = paddingBottom ?? block.paddingBottom ?? 'normal' %}

<section class="bg-white {{ paddingUtils.getPaddingClasses(topValue, bottomValue) }}">
	<div class="mx-auto max-w-2xl px-6 lg:max-w-8xl lg:px-8">
		<div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2">
			{% for card in block.cards.all() %}
				<div class="relative {{ loop.index > 2 and loop.index <= 5 ? "lg:col-span-2" : "lg:col-span-3" }}">
					<div class="absolute inset-px rounded-lg bg-white"></div>
					<div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
						<img class="h-80 object-cover object-left" src="{{ url('/dist/images/icon-performance.png') }}" alt="">
						<div class="p-10 pt-4">
							<span class="inline-block py-1 text-xs border-b-2 border-primary font-semibold  text-on-primary">{{card.topline}}</span>
							<p class="mt-2 text-xl font-medium tracking-tight text-secondary">{{card.headline}}</p>
							<div class="mt-2 max-w-lg text-gray-500">{{card.text}}</div>
						</div>
					</div>
					<div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5"></div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
