{% import '_utils/padding.twig' as paddingUtils %}
{% set topValue = paddingTop ?? block.paddingTop ?? 'normal' %}
{% set bottomValue = paddingBottom ?? block.paddingBottom ?? 'normal' %}

<section class="bg-white {{ paddingUtils.getPaddingClasses(topValue, bottomValue) }}">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div class="isolate mx-auto mt-10 grid max-w-md grid-cols-1 gap-8 md:max-w-2xl md:grid-cols-2 lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-4">
			{% for pricing in block.pricing.all() %}
			<div class="rounded-3xl p-8 ring-1 ring-gray-200">
				<h3 id="tier-hobby" class="text-xl/8 font-semibold text-secondary">{{ pricing.title }}</h3>
				<p class="mt-4 text-gray-500">{{ pricing.text }}</p>
				<p
					class="my-6 flex items-center gap-x-4">
					<!-- Price, update based on frequency toggle state -->
					<span class="text-4xl font-semibold tracking-tight text-secondary whitespace-nowrap">{{ pricing.price }}</span>
					<!-- Payment frequency, update based on frequency toggle state -->
					<span class="text-xs text-gray-500">{{ pricing.priceAddon }}</span>
				</p>
				<a href="#" aria-describedby="tier-hobby" class="btn block text-center">Jetzt loslegen</a>
				<div class="prose prose-ul:space-y-3 prose-ul:text-gray-500 prose-ul:mt-8 prose-li:space-y-3 prose-li:marker:text-primary">
					{{ pricing.features }}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
